// Specific CSS for your home-page
body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: $light-gray;
  color: white;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
}

.home-boxes {
  display: flex;
  justify-content: space-between;
}

.home-box {
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
}

.feeling-bubble {
  padding: 10px 0px;
  border-bottom: 1px solid #EBEBEB !important;
  h4 {
    margin-bottom: 0px !important;
  }
}

.box-button {
  border: 1px solid white;
  padding: 10px;
  background: $light-gray;
  color: white;
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    color: white;
    text-decoration: none;
  }
}
