<div class="container">
  <div class="title text-center">
    <h2>How are you feeling today, Mitch?</h2>
  </div>
  <div class="row justify-content-between">
    <div class="col-6">
      <div class="home-box">
        <div>
          <h3>
            Your Updates
          </h3>
          <h4>
            Calendar
          </h4>
            <%= link_to '+ Add Journal Entry', diary_entries_path, class: 'box-button' %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="home-box">
        <h3>
          Your Feelings
        </h3>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="feeling-bubble">
                <h4>angry</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="feeling-bubble">
                <h4>inadequate</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col mt-4">
              <%= link_to 'See More Feelings', root_path, class: 'box-button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

