<h2>A: Activating Event</h2>
  <ul>
    <li>
      This may include an actual event or situation, a thought, mental picture or physical trigger.
    </li>
  <%= f.text_area :a_event, :cols => 80, :rows => 10, class: "long-text-field" %>
  </ul>
