<h2>B: Beliefs</h2>
  <ol>
    <li>List all self-statements that link A to C. Ask yourself: “What was I thinking?“ “What was I saying to myself?“ “What was going through my head at the time?“</li>
    <li>Find the most distressing (hot) thought and underline it.</li>
    <li>Rate how much you believe this thought from 0 to 100.</li>
    <%= f.text_area :b_self_statement, :cols => 80, :rows => 10, class: "long-text-field" %>
    <li><strong>Thought Discovery Question: "...and what does that mean?"</strong></li>
    <%= f.text_area :b_hot_thought, :cols => 80, :rows => 10, class: "long-text-field" %>

  </ol>
