<h3>Take a deep breath...</h3>
<h4>And congratulate yourself for taking the time to start another journal entry</h4>
<p>The more entries you make, the better you'll get at understanding how you think and talk to yourself.</p>
