<div class="container mt-4">
  <h1 class='main-title'>Thought Diary</h1>
  <%= link_to "Add new entry", new_diary_entry_path, class: "box-button" %>
  <div class="container">
    <div class="row my-4 py-4">
      <% @diary_entries.each do |entry| %>
        <%= render 'diary_entry_card', entry: entry %>
      <% end %>
    </div>
  </div>
</div>
