<div class="container">
  <div class="row">
    <div class="col">
      <h1>New Journal Entry</h1>
      <%= form_for @diary_entry do |f| %>
        <%= render "#{@diary_entry.current_step}_step", :f => f %>
      <!-- A -->

      <!-- C -->

      <!-- B -->

      <!-- D -->

      <!-- E -->

      <!-- end -->
        <%= f.submit 'Continue', class: "box-button" %>
        <%= f.submit "Back", :name => "back_button" unless @diary_entry.first_step? %>
      <% end %>
    </div>
  </div>
</div>
